
#pageOne{
    height: 100vh;
}
#officers{
    height: 100vh;

}
.personContainer{
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.selectedPerson{
    box-shadow: 0px 0px 30px rgb(112, 240, 0),
    0px 0px 5px black;
}

.personContainer img{
    border-radius: 100px;
    height: 100%;
}