@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
::-webkit-scrollbar {
    display: none;
}

:root{
    --gold: #ffcc33;
    --gold: #ffd75f;
    --maroon: #7a0019;
    --maroon: rgba(122, 0, 25, 0.7);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow: none;
}



#title{
    text-align: center;

}

#title::selection {
    background: none;
    color: #7a0019;
}

#logo{

    width: 10vw;
}

body{
    display: grid;

    grid-template-areas: 
    "firstPage"
    "welcomeTo"
    "pic1"
    "allSkill"
    "pic2"
    "joinToday";
}

#header{
    grid-area: header;
    font-family: 'Righteous', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5vw;
    gap: 1vw;
    align-items: center;
}


.removeLinkStyle{

   color: inherit;
}
.removeLinkStyle:hover{
    color: var(--maroon);
}
#firstPage{
    grid-area: firstPage;
}
#welcomeTo{
    grid-area: welcomeTo;
}
#pic1{
    grid-area: pic1;
    background-image: url(table.png) ;

}
#pic2{
    grid-area: pic2;
    background-image: url(FBCLogo.png);
}
#allSkill{
    grid-area: allSkill;
}

#joinToday{
    grid-area: joinToday;
}



.wordParagraph{
    --width: 5px;
    border-bottom: var(--width) solid black;
    border-top: var(--width) solid black;
    display: flex;
    font-family: 'Righteous', sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8vh 5vw;
    flex-direction: column;
    gap: 20px;

}
.wordParagraph h1{

    font-size: 1.5rem;
}
.wordParagraph p{

    font-size: 1.2rem;
}

.wideImage{
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#joinToday{
    display: flex;
    flex-direction: row;
    gap: 0;
    justify-content: center;
}
.foosman{
    transition: transform 1s ease;
    width: 8vw;
}


@media screen and (min-width: 650px) {
    body {
        height: 200vh;
        grid-template-areas:
        "firstPage firstPage"
        "welcomeTo joinToday"
        "allSkill .";
        grid-template-columns: 50vw 50vw ;
        grid-template-rows: 100vh 45vh 45vh;

        background: url(table.png), rgb(149, 149, 149); 
        background-blend-mode:multiply;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;

    }

    #firstPage{
        display: flex;

        flex-direction: column;
        justify-content: center;

    }
    .wordParagraph{
        padding: 1vh 3vh;
        --width: 0; /* sets border width to 0 */
    }
    .gold{
        background-color: var(--gold);
        margin: 5vw;
        border-radius: 5vw;
    }

    .maroon{
        background-color: var(--maroon);
        margin: 5vw;
        border-radius: 5vw;
    }
    .mobile{
        display: none;
    }
    a:hover > .foosman{
        transform: rotateX(-365deg);
    }
}