@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

::-webkit-scrollbar {
    display: none;
}

:root{
    --gold: #ffcc33;
    --gold: #ffd75f;
    --maroon2: #7a0019;
    --maroon: rgba(122, 0, 25, 0.7);
}

*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow: none;
    font-family: 'Roboto';
}

#linkHeader{
    position:absolute;
    left: 0;
    top: 0;
    height: 10vh;
    width: 100vw;
    padding: 0 5vw;
    background: rgba(0,0,0,.5);
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    color: white;
    gap: 5vw;
    
}

#linkHeader a{
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}


#linkHeader a:hover::before{
    content: "";
    transform: rotateZ(360deg);

    opacity: 1;
}
#linkHeader a::before{
    content: "";
    transition: transform 1s, opacity 1s;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 100%;
    background: url(ball.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
}

a{
    text-decoration: none;
    color: black;
}

#title{
    text-align: center;
    font-family: "Righteous";
    cursor: pointer;
    font-size: clamp(20px, 8vw, 5rem);
    text-shadow: white 0px 0px 5px;
    transition: text-shadow 1s;
}
#title::selection {
    background: none;
    color: #7a0019;
}

#logo{
    width: 10vw;
    
}

#logo::selection{
    background: none;
}



#header{
    grid-area: header;
    font-family: 'Righteous', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5vw;
    gap: 1vw;
    align-items: center;
}
#tileTwo{
    flex-direction: row-reverse;
}

#tileOneImage{
    background: url(foos.JPG);
    background-size: cover;
    background-position: center;
}
#tileTwoImage{
    background: url(Blake.jpg);
    background-size: cover;

}
#tileThreeImage{
    background: url(Isaac.jpg);
    background-size: cover;
}
#tileFourImage{
    background: url(foosbalpeople.jpg);
    background-size: cover;
    background-position: center;
}
.removeLinkStyle{

   color: inherit;
}
.removeLinkStyle:hover{
    color: var(--maroon);
}

#tileFour{
    display: flex;
    flex-direction: row-reverse;
}
#pic2{
    grid-area: pic2;
    background-image: url(FBCLogo.png);
}


#joinToday{
    grid-area: joinToday;
    flex-direction: row;
}

#secondPage{
    height: 200vh;
    padding: 10vw 5vw;
    gap: 5vw;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 50px rgb(77, 77, 77) inset;
}

.wordParagraph{

    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    min-height: 20%;
    width: 90vw;
    flex: 1;
    border-radius: 2vw;
    overflow: hidden;

}
.wordParagraph div{
    flex: 1;
    height: 100%;
}
.wordParagraph h1{

    font-size: 1.5rem;
}
.wordParagraph p{

    font-size: 1rem;
}
.wordParagraph img{
    width: 50%;
    height: 100%;
}
.wordParagraphText{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#firstPage {
    background: url(table.png), rgb(149, 149, 149); 
    background-blend-mode:multiply;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;

}
.gold{
    background-color: var(--gold);
}
.buttonOne{
    color: var(--gold);
    background: var(--maroon2);
    padding: 10px;
    border-radius: 10px;
    transition: color .2s;
}
footer{
    background: gray;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 10vw;
    padding: 2rem 1rem;
    color: white;
}

#infoPillar{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

#footerImg{
    --size: clamp(3rem, 10vw, 6rem);
    width: var(--size);
    height: var(--size);
}
@media screen and (min-width: 850px) {
    

   #tileOne{
    grid-area: a;
   } 
   #tileTwo{
    grid-area: b;
   }
   #tileThree{
    grid-area: c;
   }
   #tileFour{
    grid-area: d;
   }
   .wordParagraph{
    width: 40vw;
   }
    #secondPage{
        height: 130vh;
        padding: 10vh;
        gap: 10vh;
        display: grid;
        position: relative;
        grid-template-areas: 
        "a b"
        "c d";
    }
    .wordParagraph{
        height: 50vh;
    }
    #tileOneImage{
        background-position: left;
    }
    #tileTwoImage{
        background-position: right;
    }

    .wordParagraph h1{
        font-size: 1.2rem;
    }
    .wordParagraph p{
        font-size: 1rem;
    }

    #title:hover{
        text-shadow: none;
    }
    .buttonOne{
        box-shadow: 4px 4px 2px black;
    }
    .buttonOne:hover{
        color: white;
    }
    .buttonOne:active{
        transform: translate(4px, 4px);
        box-shadow: 0 0 2px black;
    }
    
}