@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

::-webkit-scrollbar {
    display: none;
}

:root{
    --gold: #ffcc33;
    --gold: #ffd75f;
    --maroon2: #7a0019;
    --maroon: rgba(122, 0, 25, 0.7);
}
#disclaimer{
    display: flex;
    justify-content: center;
    padding: 20px;
    background: var(--gold);
}
*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow: none;
    font-family: 'Roboto';
}

a{
    text-decoration: none;
    color: black;
}

#title{
    text-align: center;
    font-family: "Righteous";
    cursor: pointer;
    font-size: clamp(20px, 8vw, 5rem);
    text-shadow: white 0px 0px 5px;
    transition: text-shadow 1s;
}
#title::selection {
    background: none;
    color: #7a0019;
}

#logo{
    width: 10vw;
}



#header{
    grid-area: header;
    font-family: 'Righteous', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5vw;
    gap: 1vw;
    align-items: center;
}

#isaac{
    background: url(Isaac.jpg);
    background-size: cover;

}
#blake{
    background: url(Blake.jpg);
    background-size: cover;
    background-position: center;


}
.removeLinkStyle{

   color: inherit;
}
.removeLinkStyle:hover{
    color: var(--maroon);
}
#firstPage{
    grid-area: firstPage;
}
#welcomeTo{
    grid-area: welcomeTo;
}

#pic2{
    grid-area: pic2;
    background-image: url(FBCLogo.png);
}
#allSkill{
    grid-area: allSkill;
    flex-direction:row-reverse
}

#joinToday{
    grid-area: joinToday;
    flex-direction: row;
}

#secondPage{
    height: 100vh;
    padding: 10vw;
    gap: 5vw;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 50px rgb(77, 77, 77) inset;
}

.wordParagraph{

    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    height: 40%;
    width: 70vw;
    flex: 1;
    border-radius: 2vw;
    overflow: hidden;

}
.wordParagraph div{
    flex: 1;
    height: 100%;
}
.wordParagraph h1{

    font-size: 1.5rem;
}
.wordParagraph p{

    font-size: 1.2rem;
}
.wordParagraph img{
    width: 50%;
    height: 100%;
}
.wordParagraphText{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.wideImage{
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#joinToday{
    display: flex;
    flex-direction: row;
    gap: 0;
    justify-content: center;
}
.foosman{
    transition: transform 1s ease;
    width: 8vw;
}
#firstPage {
    background: url(table.png), rgb(149, 149, 149); 
    background-blend-mode:multiply;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;

}
.gold{
    background-color: var(--gold);
}

.maroon{
    background-color: var(--maroon);
}
.buttonOne{
    color: var(--gold);
    background: var(--maroon2);
    padding: 10px;
    border-radius: 5px;
}
footer{
    background: gray;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 10vw;
    padding: 2rem 1rem;
    color: white;
}

#infoPillar{
    display: flex;
    flex-direction: column;
}

#footerImg{
    --size: clamp(3rem, 10vw, 6rem);
    width: var(--size);
    height: var(--size);
}
@media screen and (min-width: 850px) {
    


   #allSkill{
    flex-direction: row;
   }
    #secondPage{
        height: 50vh;
       flex-direction: row;
    }
    .wordParagraph{
        height: 300px;
    }
    
   
    .wordParagraph h1{
        font-size: 1.2rem;
    }
    .wordParagraph p{
        font-size: 1rem;
    }

    
    .mobile{
        display: none !important;
    }
    a:hover > .foosman{
        transform: rotateX(-365deg);
    }
   
    #title:hover{
        text-shadow: none;
    }
}